.pctImg{
display: block;
width: 75%;
height: 75%;
padding: 3px;
margin-left: auto;
margin-right: auto;


}
.imgDiv{
  display: block;
  width:33%
  height:33%;
  margin-left: auto;
  margin-right: auto;
<<<<<<< HEAD
  padding:10px;
=======
  padding:10px;
}
body {

  margin-left: auto;
  margin-right: auto;
  background-color: lightblue;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 50% 50%;
}



.containMe {
   //better for responsivity
}

.BUTTON {
  width: 25%;
  height: 20px;
}

.box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: orange;
  color: #7B241C;
  border-radius: 50px; //adjust
  padding: 3px;
  padding-bottom: 20px;
  font-family: fantasy;
  font-size: 100%; //adjust
  text-align: center;
  margin: 3px;
  border: 3px;
}


p  {

  color: yellow;
  font-family: courier;
  font-size: 160%;
  text-align: center;
}

ol.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}
ol.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ol.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ol.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ol.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.jumbotron-fluid {
background-color: #eee;
padding: 10px;
border-radius: 50px;
}

.lead {
  color: black;
}

.display-4 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.card {
  font-size: 160%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.card-body {
  font-size: 160%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: yellow;
  border-radius: 5px;
}
