.pctImg
{
  width: 99%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font: "Lucida Console";
}

.pctImg1
{
  //cant change because it changes the whole div siz
  width: 10%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font: "Lucida Console";
}

.button
{
  width: 50%
  height: 100px;
  padding: 10px;
}


.imgDiv
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%
  height: 300px;
  padding: 10px;
  font: "Lucida Console";
}

body
{
background-color: black;
color: white;
font-family: verdana;
font-size: 150%;
display:grid;
grid-gap: 4px;
grid-template-columns: 50% 50%;
}


.containMe
{
  display:grid;
  grid-gap: 4px;
  grid-template-columns: 33% 33% 33%;
}

.txtDiv
{
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font: "Lucida Console";
}

ol.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}
ol.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ol.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ol.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ol.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.jumbotron-fluid {
background-color: #eee;
padding: 10px;
border-radius: 50px;
}

.lead {
  color: black;
  text-align: center;
}

.breadcrumb-item {
  color: black;
}

.display-4 {
  color: black;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.card {
  font-size: 160%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.card-body {
  font-size: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #e5e965;
  border-radius: 5px;
  width: auto;
  height: auto;
  color: red;
}

.h1 {
  display:grid;
  grid-gap: 20px;
  grid-template-columns: auto;

}
